# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo

# Visual Studio
.vs/
*.filters
*.vcxproj
*.sln
*.suo
*.user
*.userosscache
*.sdf
*.cache
*.vspscc
*.vssscc
*.csproj.user
*.csproj.vspscc
*.csproj.vssscc
*.vbproj.user
*.vbproj.vspscc
*.vbproj.vssscc
*.fsproj.user
*.fsproj.vspscc
*.fsproj.vssscc
*.dbmdl
*.dbmdl.user
*.dbmdl.vspscc
*.dbmdl.vssscc
*.sqlproj.user
*.sqlproj.vspscc
*.sqlproj.vssscc
*.wixproj.user
*.wixproj.vspscc
*.wixproj.vssscc
*.shfbproj.user
*.shfbproj.vspscc
*.shfbproj.vssscc
*.csproj.user
*.csproj.vspscc
*.csproj.vssscc
*.vbproj.user
*.vbproj.vspscc
*.vbproj.vssscc
*.fsproj.user
*.fsproj.vspscc
*.fsproj.vssscc
*.dbmdl.user
*.dbmdl.vspscc
*.dbmdl.vssscc
*.sqlproj.user
*.sqlproj.vspscc
*.sqlproj.vssscc
*.wixproj.user
*.wixproj.vspscc
*.wixproj.vssscc
*.shfbproj.user
*.shfbproj.vspscc
*.shfbproj.vssscc
*.csproj.user
*.csproj.vspscc
*.csproj.vssscc
*.vbproj.user
*.vbproj.vspscc
*.vbproj.vssscc
*.fsproj.user
*.fsproj.vspscc
*.fsproj.vssscc
*.dbmdl.user
*.dbmdl.vspscc

# binaray
bin/
bin-int/


