[submodule "Zgine/vendor/spdlog"]
	path = Zgine/vendor/spdlog
	url = https://github.com/gabime/spdlog

[submodule "Zgine/vendor/glfw"]
    path = Zgine/vendor/glfw
    url = https://github.com/1716285375/glfw.git
[submodule "Zgine/vendor/imgui"]
	path = Zgine/vendor/imgui
	url = https://github.com/1716285375/imgui.git
[submodule "Zgine/vendor/glm"]
	path = Zgine/vendor/glm
	url = https://github.com/1716285375/glm.git
[submodule "Zgine/vendor/entt"]
	path = Zgine/vendor/entt
	url = https://github.com/1716285375/entt.git
[submodule "Zgine/vendor/json/rapidjson"]
	path = Zgine/vendor/json/rapidjson
	url = https://github.com/1716285375/rapidjson.git
[submodule "Zgine/vendor/json/nlohmann"]
	path = Zgine/vendor/json/nlohmann
	url = https://github.com/1716285375/json.git
