[submodule "Zgine/vendor/spdlog"]
	path = Zgine/vendor/spdlog
	url = https://github.com/gabime/spdlog

[submodule "Zgine/vendor/glfw"]
    path = Zgine/vendor/glfw
    url = https://github.com/1716285375/glfw.git
[submodule "Zgine/vendor/imgui"]
	path = Zgine/vendor/imgui
	url = https://github.com/1716285375/imgui.git
